{% extends "base.html" %}

{% block title %}EZ - Acesse o Ambiente Colaborativo{% endblock %}

{% block content %}
  <header class="py-14">
    <h1 class="text-3xl font-bold">Acesse o Ambiente Colaborativo</h1>
  </header>
  
  {% load widget_tweaks %}
  
  <form action="/signin/" method="post" class="flex flex-col gap-6">
    {% csrf_token %}

    <div class="flex gap-4 items-center w-full">
      <label for="id_email" class="text-lg">Email:</label>
      {% render_field form.email class+='ml-auto px-2 py-1 border-2 border-slate-300 rounded' %}
    </div>
    
    <div class="flex gap-4 items-center w-full">
      <label for="id_password" class="text-lg">Senha:</label>
      {% render_field form.password class+='ml-auto px-2 py-1 border-2 border-slate-300 rounded' %}
    </div>

    <input id="submit" class="mx-auto px-6 py-1 text-white bg-blue-500 rounded-md" type="submit" value="Enviar">
  </form>

  {% if form.errors %}
    <div class="my-2 px-8 py-4 bg-red-100 rounded-md text-center">
      {{ form.non_field_errors }}
    </div>
  {% endif %}
{% endblock %}